* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url("../assets/images/bg.jpeg") no-repeat center fixed;
  background-size: cover;
}

.menu-bar {
  background: linear-gradient(
    to bottom right,
    lightskyblue,
    rgba(255, 255, 255, 0.5),
    lightgreen
  );
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;

  ul {
    display: inline-flex;
    list-style: none;
    color: #000;

    li {
      width: 120px;
      margin: 15px;
      padding: 15px;
      cursor: pointer;

      a {
        text-decoration: none;
        color: #000;
        font-size: 20px;
        .fas {
          padding-right: 8px;
        }
      }

      .sub-menu-1 {
        display: none;

        .fa-angle-right {
          float: right;
        }

        ul {
          li {
            .sub-menu-2 {
              display: none;
            }
          }

          .hover-me {
            &:hover {
              .sub-menu-2 {
                display: block;
                position: absolute;
                margin: -40px;
                margin-left: 140px;
                background: linear-gradient(
                  to bottom right,
                  lightskyblue,
                  rgba(255, 255, 255, 0.5),
                  lightgreen
                );
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
              }
            }
          }
        }
      }

      &:hover {
        .sub-menu-1 {
          display: block;
          position: absolute;
          background: linear-gradient(
            to bottom left,
            lightskyblue,
            rgba(255, 255, 255, 0.5),
            lightgreen
          );
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          margin-top: 15px;
          margin-left: -15px;

          ul {
            display: block;
            margin: 10px;

            li {
              width: 150px;
              padding: 10px;
              border-bottom: 1px dotted #fff;
              background: transparent;
              border-radius: 0;
              text-align: left;

              &:last-child {
                border-bottom: none;
              }

              a {
                &:hover {
                  opacity: 0.6;
                }
              }
            }
          }
        }
      }
    }

    .active,
    li:hover {
      background: linear-gradient(
        to top right,
        lightgreen,
        rgba(255, 255, 255, 0.5),
        lightskyblue
      );
      border-radius: 3px;
    }
  }
}
